---
import "../assets/styles/calendar.css";
---

<div class="calendario-wrapper">
  <div class="calendario-container">
    <div class="mes-atual" id="mes-atual"></div>

    <div class="dias-semana" id="dias-da-semana">
      <!-- Os dias da semana e números serão preenchidos via JS -->
    </div>
  </div>
</div>
